h1 {
  color: green;
  font-style: italic;
}

.note {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.site-container {
/* Sisältää site-contentin ja footerin */  
  display: flex;
/* React-mukautus */  
  min-height: 98vh;
  flex-direction: column;
  }

.site-content {
  flex: 1;
}

.note > button, form button {margin-left:10px;}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}